body {
    margin: 0;
}
nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 12%;
}

nav a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 999;
}

.test,
.test1 {
    margin-top: 2%;
}

.test2 {
    margin-left: 14%;
}

.logo {
    width: 180%;
    position: relative;
    z-index: 999;
}
.test,
.test1 {
    font-family: cursive, sans-serif;
    font-size: 1.3em;
}
/* au dessus il s'agit du css du header*/

a {
    text-decoration: none;
}

a div p {
    color: black;
}

.bouton {
    display: inline-block;
    background-color: #ffdcba;
    border-radius: 50%;
    margin: 19% 0 0 35%;
    text-align: center;
    width: 30%;
    position: relative;
    z-index: 999;
}
.pk {
    font-size: 2em;
}

.rep {
    font-size: 1.5em;
}

.contenaire {
    display: flex;
    margin-top: 4%;
}

.saviez-vous {
    width: 60%;
    text-align: center;
    margin-left: 1%;
    margin-top: -3%;
}
.img img {
    width: 75%;
    margin-top: -5%;
}
.titre {
    font-size: 2em;
}

b a {
    color: black;
}

.text {
    font-size: 1.5em;
}

.img {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    margin-left: 10%;
}

.urgence {
    visibility: hidden;
    position: absolute;
    font-size: 6em;
    background-color: white;
    margin: -13% 0 0 -70%;
}

.image img:hover + .urgence {
    visibility: visible;
}

footer {
    display: flex;
    background-color: #ffdcba;
}

iframe {
    width: 300%;
    height: 100px;
    border: none;
}

.position {
    float: right;
}
.tel,
.map,
.position {
    flex: 1;
    display: flex;
}

.tel img,
.position img {
    width: 5%;
    height: 50px;
    margin-right: 3%;
}
.tel,
.position {
    margin: 2% 0 0 2%;
}
.position img {
    margin-left: 50%;
}

#carrousel {
    position: relative;
    height: 100%;
}
#carrousel ul li {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -0.5%;
}

.pano {
    width: 100%;
    height: 400px;
    margin-top: 6%;
}

.mediaQ {
    display: none;
}
