body {
    margin: 0;
}
nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 12%;
}

nav a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 999;
}

.test,
.test1 {
    margin-top: 2%;
}

.test2 {
    margin-left: 14%;
}

.logo {
    width: 180%;
    position: relative;
    z-index: 999;
}
.test,
.test1 {
    font-family: cursive, sans-serif;
}
/* au dessus il s'agit du css du header*/

.contact {
    width: 70%;
    margin-left: 15%;
}

footer {
    display: flex;
    background-color: #ffdcba;
}

iframe {
    width: 300%;
    height: 100px;
    border: none;
}

.position {
    float: right;
}
.tel,
.map,
.position {
    flex: 1;
    display: flex;
}

.tel img,
.position img {
    width: 5%;
    height: 50px;
    margin-right: 3%;
}
.tel,
.position {
    margin: 2% 0 0 2%;
}
.position img {
    margin-left: 50%;
}

.linki {
    position: absolute;
    z-index: 999;
    margin: 50% 0% 0 -50%;
}

.linki img {
    width: 50%;
}

.mediaQ {
    display: none;
}
