body {
    margin: 0;
}
nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 12%;
}

nav a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 999;
}

.test,
.test1 {
    margin-top: 2%;
}

.test2 {
    margin-left: 14%;
}

.logo {
    width: 180%;
    position: relative;
    z-index: 999;
}
.test,
.test1 {
    font-family: cursive, sans-serif;
}
/* au dessus il s'agit du css du header*/

.dropdownmenu,
.dropdownmenu ul {
    /* Pour les sous-menus */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.dropdownmenu ul {
    display: none;
}
.dropdownmenu li {
    position: relative;
}
.dropdownmenu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 3px 0 0 10px;
}
.dropdownmenu li:hover ul {
    display: block;
    position: relative;
    top: 36px;
    left: 0px;
    z-index: 100;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}
.faq {
    margin: 10% 25% 10% 25%;
}

.baba {
    padding: 5% 5% 15% 5%;
    background-color: white;
    text-align: justify;
    text-justify: inter-word;
}

.question {
    font-size: 2em;
    margin-bottom: 5%;
}

footer {
    display: flex;
    background-color: #ffdcba;
}

iframe {
    width: 300%;
    height: 100px;
    border: none;
}

.position {
    float: right;
}
.tel,
.map,
.position {
    flex: 1;
    display: flex;
}

.tel img,
.position img {
    width: 5%;
    height: 50px;
    margin-right: 3%;
}
.tel,
.position {
    margin: 2% 0 0 2%;
}
.position img {
    margin-left: 50%;
}

.baba2 {
    padding: 5% 5% 20% 5%;
}

.avis {
    margin: 0 25% 5% 25%;
    text-align: center;
}

.avis a img {
    width: 70%;
}

.mediaQ {
    display: none;
}
