@media only screen and (max-width: 1024px) {
    .logo {
        display: none;
    }
    .logoQ {
        width: 100%;
    }

    .test,
    .test1 {
        margin: 0;
        margin-right: 3%;
    }

    .squelette {
        display: none;
    }

    .squeletteQ {
        display: block;
    }

    .squeletteQ img {
        width: 100%;
    }
    .mediaQ {
        display: block;
    }
}
