@media only screen and (max-width: 1024px) {
    .logo {
        display: none;
    }
    .logoQ {
        width: 100%;
    }

    .test,
    .test1 {
        margin: 0;
        margin-right: 3%;
    }

    .contact {
        width: 100%;
        margin: 2% 0 0 0;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .linki {
        position: absolute;
        z-index: 999;
        margin: 70% 0% 0 -70%;
    }
    .mediaQ {
        display: block;
    }
}
