@media only screen and (max-width: 1024px) {
    .mediaQ {
        display: block;
    }
    .logo {
        display: none;
    }
    #carrousel {
        display: none;
    }

    .logoQ {
        width: 100%;
    }

    .test,
    .test1 {
        margin: 0;
        margin-right: 3%;
    }
    .patientQ {
        width: 100%;
        margin-top: 15%;
    }
    .bouton {
        width: 50%;
        margin: -5% 0 10% 23%;
    }
    .contenaire {
        flex-direction: column;
    }
    .saviez-vous {
        font-size: 2em;
        margin: 0 0 10% 18%;
    }
    .img {
        margin-left: 20%;
    }
}
